.spotlist-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 15px;

    width: 100%;


}

.each-spot-tile{
    display: flex;
    justify-content: center;
}

.spotlist-block{
    display: flex;
    justify-content: center;
    margin: 0px 25px;
}