.reviews-container{
    margin: 10px 25px;
}

.review-header {
    display: flex;
   font-family: arial;
   gap: 5px;
}

.reviews-list-container {
    margin: 5px 10px;
    font-family: arial;

}

.review-tile{
    padding: 5px 0px;
}

.review-first-name{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0px;
    font-style: italic;
    
}

.review-date{
    font-size: 12px;
    color: lightblue;
    padding-bottom: 6px;
}

.review-description{
    font-size: 14px;
}