.form-container{
 
    display: flex;
    /* flex-direction: column;
    align-items: center; */

    border: 1px solid red;

    font-family: sans-serif;
    justify-content: center;
}

.create-form-field{
    border: 1px solid blue;
    width: 400px;

}



input {
    display: flex;
    justify-content: center;
    width: 98%;
    border: 1.5px solid grey;
    border-radius: 3px;
}

.section-title {
    font-size: 15px;
    font-weight: bold;

    height: 10px;

}

.section-description {
    font-size: 11px;
}

.create-form-button {
    display: flex;
    justify-content: center;
}

.section-gap {
    margin-top: 15px;
    border: 1px solid black;

}

.label {
    font-size: 12px;
    /* margin-top: 26px; */
    padding-left: 2px;
}

.image-input{
    margin-bottom: 10px;
}