.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}